/* Hide home page crap */
ytd-browse[page-subtype="home"] {
  display: none !important;
}

/* Hide search suggestions */
.sbsb_a {
  display: none;
}

/* Hide recommendations grid at video end */
ytd-watch-flexy #primary #player div.html5-endscreen {
  display: none !important;
}
ytd-watch-flexy #player-full-bleed-container div.html5-endscreen {
  display: none !important;
}
/* Hide related videos recommendations in video watching page */
ytd-watch-flexy #secondary #related {
  display: none !important;
}
ytd-watch-flexy #primary #related {
  display: none !important;
}
/* Hide the whole secondary column when there's no playlist */
/* ytd-watch-flexy #secondary:has(ytd-playlist-panel-renderer[hidden=""]) { */
/*   display: none !important; */
/* } */
